# стандартное из шаблона Python
__pycache__/
*.py[cod]
*$py.class

# виртуальные окружения
env/
venv/
ENV/
.venv/

# IDE
.vscode/
.idea/

# логи
*.log

# системные
.DS_Store
Thumbs.db

# твои секретные файлы
creds.json
